:root {
    --bg: #181818;
    --fg: #6666e5;
    --text: #6666e5;
}
/*main*/
html, body {
    background: var(--bg);
    color: var(--text);
    font-family: monospace;
    font-size: 14px;
}
/*navbar*/
nav {
    background: var(--bg);
    box-shadow: #000 5px 0 5px;
    color: var(--text);
    padding: 20px 0 20px 0;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
nav>a {
    color: var(--fg);
    text-decoration: none;
    padding: 0 8% 0 8%;
}
nav>a:hover {
    text-shadow: var(--fg) 0 0 8px;
}
/*login form*/
#login-container {
    display: none;
    background: var(--bg);
    min-width: 250px;
    width: 30%;
    max-width: 400px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: #000 0 0 10px;
}
form {
    text-align: center;
}
form>a {
    color: var(--fg);
    text-decoration: none;
}
input {
    background: var(--bg);
    border: 1px solid var(--fg);
    color: var(--text);
    font-family: monospace;
    font-size: 14px;
    margin: 10px 0 10px 0;
    padding: 10px;
    outline: none;
    text-align: center;
}
#email-input, #invite-input { display:none; }
#submit-btn {
    background: var(--fg);
    border: 1px solid var(--fg);
    color: var(--bg);
    font-family: monospace;
    font-size: 14px;
    margin: 10px 0 10px 0;
    padding: 10px;
    outline: none;
    text-align: center;
    transition: 250ms;
}
#submit-btn:hover {
    background: var(--bg);
    color: var(--fg);
    text-shadow: var(--fg) 0 0 8px;
}
#register-btn, #forgot-btn {
    background: var(--bg);
    border: 1px solid var(--fg);
    color: var(--fg);
    font-family: monospace;
    font-size: 14px;
    margin: 10px 0 10px 0;
    padding: 10px;
    outline: none;
    text-align: center;
    transition: 250ms;
}
#register-btn:hover, #forgot-btn:hover {
    background: var(--fg);
    color: var(--bg);
    text-shadow: var(--bg) 0 0 8px;
}
h2 { text-decoration: overline underline; }